@import "tailwindcss";
.underline-hover {
  @apply relative after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-black after:transition-all after:duration-300 hover:after:w-full;
}
body {
  padding-top: 100px; /* Adjust based on navbar height */
}
